<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Deine Events</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="nav.goBack()">
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <div *ngIf="isLoggedIn && events !== undefined">

    <ion-card *ngIf='filteredByTeam'>
      <ion-card-header color='light'>
        <ion-card-title>Eventliste gefiltert nach:</ion-card-title>
        <ion-card-subtitle>Team: {{teamname}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card *ngIf='events.length > 0'>
      <ion-card-header color='light'>
        <ion-card-title>Anstehende Events:</ion-card-title>
      </ion-card-header>
      <ion-list *ngFor='let event of events'>
        <ion-item>
          <ion-item (click)="nav.navigateForwardParameter('viewevent', event.event)" detail  lines='none'>
            <ion-label><h2>{{event.event.name}}</h2>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <p *ngIf='event.begindate == event.enddate'>{{event.event.begindate}}</p>
                    <p *ngIf='event.begindate != event.enddate'>{{event.event.begindate}} bis {{event.event.enddate}}</p>
                    <p>Team: {{event.team.name}}</p>
                  </ion-col>
                  <ion-col>
                    <p><ion-icon name="checkmark" color="danger"></ion-icon>{{event.tasks.length}} Tasks</p>
                    <p><ion-icon name="checkmark" color="medium"></ion-icon>{{event.futureTasks.length}} Tasks</p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-label>
          </ion-item>
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-card *ngIf='events.length == 0'>
      <ion-card-header>
        <ion-card-title>Du hast aktuell keine Events</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>

  <ion-card *ngIf="isNotLoggedIn">
    <ion-card-header>
      <ion-card-title>
        Du bist nicht eingeloggt!
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="openLogin()" expand='block' color='secondary'>
        <ion-icon name="home"></ion-icon> Zum Login
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
  
<ion-footer *ngIf="isLoggedIn">
  <ion-toolbar color="secondary">
    <div (click)="nav.navigateForward('createeventchooser')" color='secondary' *ngIf='hasTeams' text-center>
      <ion-icon name="calendar"></ion-icon><ion-icon name="add"></ion-icon>Event erstellen
    </div>
    <div *ngIf='!hasTeams' (click)="nav.navigateForward('createteam')" color='secondary' text-center>
        <ion-icon name="contacts"></ion-icon><ion-icon name="add"></ion-icon> Erstelle vorher ein Team
    </div>
  </ion-toolbar>
</ion-footer>