<ion-header>
<ion-toolbar color="primary">
  <ion-title>Deine Tasks</ion-title>

  <ion-buttons slot="end">
    <ion-button (click)="nav.goBack()">
      <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoggedIn">
    <ion-card *ngIf='filterByTeam || filterByEvent'>
      <ion-card-header color='light'>
        <ion-card-title>Taskliste gefiltert nach:</ion-card-title>
        <ion-card-subtitle *ngIf='filterByTeam'>Team: {{teamFilter.name}}</ion-card-subtitle>
        <ion-card-subtitle *ngIf='filterByEvent'>Event: ???</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <div *ngIf='tasksTODO.length > 0 || tasksFUTURE.length > 0'>
      <ion-card *ngIf='tasksTODO.length > 0'>
        <ion-card-header color='danger'>
            <ion-card-title>Dringende Tasks:</ion-card-title>
            <ion-card-subtitle>Diese Task solltest du möglichst bald erledigen!</ion-card-subtitle>
        </ion-card-header>
        <ion-list *ngFor='let task of tasksTODO'>
          <ion-item (click)="nav.navigateForwardParameter('viewtask', task.task)" detail *ngIf='!task.task.done'>
            <ion-grid>
              <ion-row>
                <ion-label color='danger'><h2><ion-icon name="checkmark" color='danger'></ion-icon> {{task.task.name}}</h2></ion-label>
              </ion-row>
              <ion-row>
                <ion-card-subtitle>{{task.team.name}} &rarr; {{task.event.name}}</ion-card-subtitle>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-card>
  
      <ion-card>
        <ion-card-header color='light'>
            <ion-card-title>Offene Tasks:</ion-card-title>
            <ion-card-subtitle>Diese Tasks kannst du jetzt schon erledigen, sind jedoch noch nicht dringend.</ion-card-subtitle>
        </ion-card-header>
        <ion-list *ngFor='let task of tasksFUTURE'>
          <ion-item (click)="nav.navigateForwardParameter('viewtask', task.task)" detail>
            <ion-grid>
              <ion-row>
                  <ion-label><h2><ion-icon name="checkmark"></ion-icon> {{task.task.name}}</h2></ion-label>
              </ion-row>
              <ion-row>
                <ion-card-subtitle>{{task.team.name}} &rarr; {{task.event.name}}</ion-card-subtitle>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>

    <div *ngIf='tasksTODO.length == 0 && tasksFUTURE.length == 0'>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Du hast aktuell keine anstehenden Tasks</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </div>


  <ion-card *ngIf="isNotLoggedIn">
    <ion-card-header>
      <ion-card-title>
        Du bist nicht eingeloggt!
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="nav.navigateLogin('tasklist')" expand='block' color='secondary'>
        <ion-icon name="home"></ion-icon> Zum Login
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer *ngIf="isLoggedIn">
  <ion-toolbar color="secondary">
    <div (click)="nav.navigateForwardParameter('createtask', filterNavParameter)" color='secondary' *ngIf='hasEvents && hasTeams' text-center>
      <ion-icon name="checkmark"></ion-icon><ion-icon name="add"></ion-icon>Task erstellen
    </div>
    <div *ngIf='!hasTeams' (click)="nav.navigateForward('createteam')" color='secondary' text-center>
        <ion-icon name="contacts"></ion-icon><ion-icon name="add"></ion-icon> Erstelle vorher ein Team
    </div>
    <div *ngIf='!hasEvents && hasTeams' (click)="nav.navigateForward('createeventchooser')" color='secondary' text-center>
        <ion-icon name="calendar"></ion-icon><ion-icon name="add"></ion-icon> Erstelle vorher ein Event
    </div>
  </ion-toolbar>
</ion-footer>