<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>
      Startseite - ScOuT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf='!back.isLoggedIn'>
    <ion-card>
      <ion-card-header color='light'>
        <ion-card-title>
            Willkommen bei ScOuT,
        </ion-card-title>
        <ion-card-subtitle>
            dem Organisations-Tool für Vereine und Events.
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <h1>So einfach gehts:</h1>
        <p text-center>Registrieren &rarr; Team für deinen Verein anlegen  <br>&rarr; Und los geht's mit der Eventplanung!</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Du bist nicht eingeloggt</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button (click)="nav.navigateLogin('home')" color='secondary' expand="block">Weiter zum Login</ion-button>
        <ion-item></ion-item>
        <ion-label>Noch kein Account?</ion-label>
        <ion-button (click)="nav.navigateForward('register')" color='secondary' expand="block">Dann registrier dich!</ion-button>
        <ion-item>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>


  <div *ngIf='back.isLoggedIn'>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Hallo {{username.name}}!</ion-card-title>
        <ion-card-subtitle>Hier ist deine Übersicht:</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-list>

          <div *ngIf='tasksTODO !== undefined && tasksFUTURE !== undefined'>
            <ion-item detail (click)="nav.navigateTasklist()" *ngIf='tasksFUTURE.length > 0 || tasksTODO.length > 0'>
              <ion-button *ngIf='tasksTODO.length > 0' color='danger' size='small'>
                <ion-icon slot="icon-only" name="checkmark"></ion-icon>
              </ion-button>
              <ion-button  *ngIf='tasksTODO.length == 0' color='secondary'>
                <ion-icon slot="icon-only" name="checkmark"></ion-icon>
              </ion-button>
              <ion-label>Du hast {{tasksTODO.length}} dringende Tasks</ion-label>
            </ion-item>

            <ion-item *ngIf='tasksFUTURE.length > 0' detail (click)="nav.navigateTasklist()">
              <ion-button color='secondary'>
                <ion-icon slot="icon-only" name="checkmark"></ion-icon>
              </ion-button>
              <ion-label>Du hast {{tasksFUTURE.length}} offene Tasks</ion-label>
            </ion-item>
            
            <div *ngIf='teams !== undefined'>
              <div *ngIf='events !== undefined'>

                <ion-item *ngIf='tasksFUTURE.length == 0 && tasksTODO.length == 0'>
                  <ion-grid>
                    <ion-row>
                      Du hast keine anstehenden Tasks
                    </ion-row>
                    <ion-row center *ngIf='events.length > 0'>
                      <ion-button color='secondary' expand='block' (click)="nav.navigateForward('createtask')">
                        <ion-icon name="checkmark"></ion-icon><ion-icon name="add"></ion-icon>Task erstellen
                      </ion-button>
                    </ion-row>
                    <ion-row *ngIf='events.length == 0 && teams.length > 0'>
                      Erstelle zuerst ein Event!
                    </ion-row>
                    <ion-row *ngIf='teams.length == 0'>
                      Erstelle zuerst ein Team!
                    </ion-row>
                  </ion-grid>
                </ion-item>

                <ion-item detail (click)='nav.navigateEventlist()' *ngIf='events.length > 0'>
                  <ion-button color='secondary'>
                    <ion-icon slot="icon-only" name="calendar"></ion-icon>
                  </ion-button>
                  <ion-label>Du organisierts {{events.length}} Events</ion-label>
                </ion-item>
                <ion-item *ngIf='events.length == 0'>
                  <ion-grid>
                    <ion-row>
                      Du planst noch keine Events
                    </ion-row>
                    <ion-row center *ngIf='teams.length > 0'>
                      <ion-button color='secondary' expand='block' (click)="nav.navigateForward('createeventchooser')">
                        <ion-icon name="calendar"></ion-icon><ion-icon name="add"></ion-icon>Event erstellen
                      </ion-button>
                    </ion-row>
                    <ion-row *ngIf='teams.length == 0'>
                      Erstelle zuerst ein Team!
                    </ion-row>
                  </ion-grid>
                </ion-item>
              </div>
              
              <ion-item detail (click)='nav.navigateTeamlist()' *ngIf='teams.length > 0'>
                <ion-button color='secondary'>
                  <ion-icon slot="icon-only" name="contacts"></ion-icon>
                </ion-button>
                <ion-label>Du bist Mitglied von {{teams.length}} Teams</ion-label>
              </ion-item>
            </div>
            <div *ngIf='teamInvitations != undefined'>
              <ion-item detail (click)='nav.navigateTeamlist()' *ngIf='teamInvitations.length > 0'>
                <ion-button color='secondary'>
                  <ion-icon slot="icon-only" name="contacts"></ion-icon>
                </ion-button>
                <ion-label>Du hast {{teamInvitations.length}} offene Team-Einladungen</ion-label>
              </ion-item>
            </div>
            <div *ngIf='teams != undefined'>
              <ion-item *ngIf='teams.length == 0'>
                <ion-grid>
                  <ion-row>
                    Du bist noch nicht Mitglied eines Teams
                  </ion-row>
                  <ion-row center>
                    <ion-button color='secondary' expand='block' (click)="nav.navigateForward('createteam')">
                      <ion-icon name="contacts"></ion-icon><ion-icon name="add"></ion-icon>Team erstellen
                    </ion-button>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </div>
          </div>

        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>

